#header
{
    width:100%;
    height: 80px;
    background-color: rgb(102, 102, 177);
    text-align: right;
    text-decoration-line: none;
    font-size: large;
}
#frs{
    text-align: right;
}
